<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Object Detection</title>
    <!-- Bootstrap CSS -->
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css"
      rel="stylesheet"
    />
    <!-- Custom CSS -->
    <link
      href="{{ url_for('static', filename='style.css') }}"
      rel="stylesheet"
    />
  </head>
  <body>
    <header class="header">Object Detector</header>
    <div class="container">
      <h3>Upload an Image for Object Detection</h3>
      <!-- Upload Form -->
      <form
        method="POST"
        enctype="multipart/form-data"
        id="uploadForm"
        class="d-flex gap-3"
      >
        <input
          id="fileInput"
          type="file"
          name="file"
          accept="image/*"
          class="form-control"
          required
        />
        <button type="submit" class="btn btn-primary min-width-fit-content">
          Upload Image
        </button>
      </form>

      <div class="mt-5" id="imagePreviewContainer" style="display: none">
        <h3>Image Preview</h3>
        <div class="image-container">
          <img id="imagePreview" class="img-fluid" alt="Image Preview" />
          <div class="overlay" id="progressOverlay" style="display: none">
            <div class="progress" style="display: none; height: 100%">
              <div
                class="progress-bar progress-bar-striped progress-bar-animated"
                id="progressBar"
                style="height: 300px"
              >
                0%
              </div>
            </div>
          </div>
        </div>
      </div>

      <!-- Display Uploaded Images -->
      <div class="mt-5" id="result">
        <div class="d-flex justify-content-between">
          {% if filename %}
          <div>
            <h3>Original Image</h3>
            <div class="image-container">
              <img
                src="{{ url_for('uploaded_file', filename=filename) }}"
                alt="Uploaded Image"
                class="img-fluid"
                id="uploadedImage"
              />
            </div>
          </div>

          {% endif %}

          <!-- Display Uploaded Image -->
          {% if processed_image_path %}
          <div>
            <h3>Processed Image</h3>
            <div class="image-container">
              <img
                src="{{ url_for('uploaded_file', filename=processed_image_path) }}"
                alt="Uploaded Image"
                class="img-fluid"
                id="uploadedImage"
              />
            </div>
          </div>
          {% endif %}
        </div>

        <!-- Display Detected Objects -->
        {% if detected_objects %}
        <div class="mt-5">
          <h3>Objects List</h3>
          <div class="divider"></div>
          <div class="d-flex gap-2 flex-wrap">
            {% for obj in detected_objects %}
            <span class="badge rounded-pill text-bg-secondary">{{ obj }}</span>
            <!-- <li class="list-group-item">{{ obj }}</li> -->
            {% endfor %}
          </div>
          <!-- <ul class="list-group"> -->

          <!-- </ul> -->
        </div>
        {% endif %} {% if cutout_paths %}
        <h3 class="mt-5">Objects</h3>
        <div class="divider"></div>
        <div class="cutout d-flex gap-3">
          {% for cutout, label in cutout_paths %}
          <div class="mb-4">
            <h4><span class="badge text-bg-secondary">{{ label }}</span></h4>
            <div class="image-container">
              <img
                src="{{ url_for('uploaded_file', filename=cutout) }}"
                alt="Object Cutout"
                class="img-fluid"
              />
            </div>
          </div>
          {% endfor %}
        </div>
        {% endif %}
      </div>
    </div>
    <!-- Bootstrap JS and Custom Script -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
    <script src="{{ url_for('static', filename='script.js') }}"></script>
  </body>
</html>
